@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/css/header.css" rel="stylesheet" />

<header class="content bg-light">
    <h1 class="title fun">RestaurantCMS</h1>
    <div class="image-text">
        <div class="filter"></div>
        <img src="~/images/home-1.jpg" alt="">
        <div class="justify-left"><p class="paragraph">Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık .</p></div>
    </div>
</header>