
@{
    ViewData["Title"] = "Signup";
}

<div class="col-md-4 offset-md-4">
    <h4>Üye Kayıt</h4>
    <hr />
    <form method="post">
        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Username</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" />

        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input class="form-control" />

        </div>
        <div class="form-group">
            <input type="submit" value="Kayıt ol" class="btn btn-primary" />
        </div>
    </form>
</div>

